* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #232127;
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between; /* Ensures elements are spaced out */
    align-items: center;
    padding: 8px 15px; /* Adds some spacing */
    color: #EEF2F2;
    background-color: #415986;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon {
    max-height: 5%;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
}

@media (max-width: 700px) {
    header {
        padding: 10px 15px; /* Reduce padding for smaller screens */
    }

    .menu-options a {
        font-size: 18px; /* Smaller font size */
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }
    
    .icon {
        max-height: 30%; /* Adjust icon size on smaller screens */
    }
}

.menu {
    display: flex;
    gap: 20px; /* Adds spacing between menu items */
}

.menu-options a {
    text-decoration: none;
    color: inherit;
    font-size: 25px; 
    font-weight: bold; 
    padding: 15px 20px; 
    transition: color 0.3s ease-in-out;
}

.menu-options:hover {
    color: #7A7A7A;
}

.intro {
    position: relative;
    background-image: url('http://127.0.0.1:8000/static/img/home-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(35, 33, 39, 1), rgba(35, 33, 39, 0)); /* Black overlay with 50% opacity */
    z-index: 1; /* Makes sure the overlay is above the background image */
}

/* Content inside the section will appear above the overlay */
.intro-text {
    position: relative;
    z-index: 2; /* Ensures the text is above the overlay */
    color: #EEF2F2; /* Make sure the text is visible against the dark background */
    text-align: center;
    padding-top: 15%;
}

.intro-text h1 {
    font-size: 3rem;
}

.about-container {
    display: flex;
    justify-content: center; /* Centers the about section horizontally */
    align-items: center; /* Centers the about section vertically */
    min-height: 100vh; /* Ensure it's centered on the full height of the screen */
    padding: 20px; /* Optional padding around the container */
}

/* About section styles */
.about {
    display: flex;
    justify-content: space-between; /* Space the two columns apart */
    align-items: center; /* Center content vertically */
    padding: 30px 20px; /* Adjust padding to control spacing */
    gap: 15px; /* Reduced gap between sections */
    background-color: #3d436a; /* Background color for the section */
    color: #EEF2F2; /* White text */
    border-radius: 10px; 
    width: 100vw;
}

/* About text on the left */
.about-right {
    display: flex;
    flex: 1; /* Allow this section to take up equal space */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    flex-direction: column;
    padding-right: 15px; /* Reduce padding */
}

.about-me {
    display: flex;
    font-size: 1.5rem; /* Adjust font size for readability */
    line-height: 1.5; /* Space out the lines a bit */
}


.about-left {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    text-align: center; 
}

.profile-img {
    width: 300px; /* Adjust image size */
    height: 300px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 5px solid #EEF2F2; 
    margin-bottom: 15px; 
}

.profile-name {
    font-size: 3rem;; /* Slightly smaller name font size */
    font-weight: bold; /* Make the name bold */
    color: #EEF2F2; /* White text for the name */
    margin-bottom: 20px;
}